CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq50xx=y
CONFIG_TARGET_qualcommax_ipq50xx_DEVICE_xiaomi_ax6000=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_PERSISTENT=y

# NSS 网络加速（LiBwrt核心）
CONFIG_NSS_FIRMWARE=y
CONFIG_NSS_DRV=y
CONFIG_NSS_QDISC=y
CONFIG_NSS_OFFLOAD=y
CONFIG_PACKAGE_nss-firmware-ipq50xx=y

# 内核基础
CONFIG_KERNEL_BUILD_DOMAIN=""
CONFIG_KERNEL_BUILD_HOST="openwrt"
CONFIG_KERNEL_BUILD_USER="openwrt"
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PROC_FS=y
CONFIG_KERNEL_TMPFS_POSIX_ACL=y

# 基础系统组件
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FANCY_PROMPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_BRACKETS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_REGEX=y
CONFIG_BUSYBOX_CONFIG_FEATURE_LESS_WINCH=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOG=y
CONFIG_BUSYBOX_CONFIG_IFCONFIG=y
CONFIG_BUSYBOX_CONFIG_IP=y
CONFIG_BUSY_CONFIG_PING=y
CONFIG_BUSYBOX_CONFIG_TELNET=y
CONFIG_BUSYBOX_CONFIG_TFTP=y
CONFIG_BUSYBOX_CONFIG_TRACEROUTE=y
CONFIG_BUSYBOX_CONFIG_UDHCPC=y
CONFIG_BUSYBOX_CONFIG_UDHCPD=y

# 文件系统、工具
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_mountd=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_ubi-utils=y

# 网络驱动
CONFIG_PACKAGE_kmod-ath11k=y
CONFIG_PACKAGE_kmod-ath11k-ahb=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_wpad-full-openssl=y

# LuCI 中文WEB管理界面
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-i18n-zh-cn=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-network=y
CONFIG_PACKAGE_luci-app-system=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

# 网络基础服务
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_pppoe-discovery=y

# 常用工具
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_pciutils=y

# 包含编译配置信息（打包到固件）
CONFIG_INCLUDE_CONFIG=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y

# 不编译无用固件（只保留sysupgrade升级包）
CONFIG_TARGET_IMAGES_GZIP=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_CPIOGZ is not set
