CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-ubootmod=y

CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING_SAVEHISTORY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_COLOR=y
CONFIG_BUSYBOX_CONFIG_LS_LONG=y
CONFIG_BUSYBOX_CONFIG_TELNETD=y

CONFIG_LINUX_6_12=y
CONFIG_PACKAGE_kmod-nss-ifb=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ppe=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-i18n-zh-cn=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_pingcheck=y
CONFIG_PACKAGE_shadow=y
CONFIG_PACKAGE_tcpdump=y

CONFIG_PACKAGE_wpad-wolfssl=y
CONFIG_PACKAGE_hostapd-common=y

CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_odhcpd=n
CONFIG_PACKAGE_odhcpd-ipv6only=n
